@import './global/null.css';
@import './global/fonts.css';
@import './global/mixins';
@import './global/_colors.scss';
@import './_title.scss';
@import './_button.scss';
@import './_header.scss';
@import './_wedding.scss';
@import './_organization.scss';

body._lock {
	overflow: hidden;
}

div[class*="__container"]{
	max-width: 1340px;
	padding: 0 50px;
	margin: 0 auto;
		@media (max-width: 1026px) {
			padding: 0 25px;
		}
		@media (max-width: 770px) {
			padding: 0 10px;
		}
}

.main {

}






